/* promega styles */

html {
    scroll-behavior: smooth;
    }

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Calibri';
    }

.green-line {
    background-color: #006400;
    height: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px auto 80px;
}

.toprowleft,
.toprowcenter,
.toprowright,
.midrowleft,
.midrowcenter,
.midrowright,
.botrowleft,
.botrowcenter,
.botrowright {
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
}

.toprowleft {
    background: white;
}

.toprowcenter {
    background: white;
}

.toprowright {
    background: white;
}

.midrowleft {
    background: #000064;
}

.midrowcenter {
    background: #000064;
    height: 750px;
}

.midrowright {
    background: #000064;
}

.botrowleft {
    background: white;
}

.botrowcenter {
    font-family: 'Calibri'; color: #006400;
    background: white;
}

.botrowright {
    border: 0;
    margin-top: 10px;
    background: white;
}
